.buildpath
.DS_Store
.projects
.settings
/app/config/parameters.yml
/build/
composer.phar
/phpunit.xml
/uploads
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/app_dev.php
/web/bundles/
/web/css/
/web/fonts/
/web/images/
/web/js/
/web/uploads/
